.app {
  padding: 100px;
}
.inputs{
  /* float: right; */
  display: inline;
}

ul {
  margin: auto;
  width: 45%;
  list-style-type: none;
  /* display:inline-block; */
}

.item{
  display: inline;
  padding: 35px;
}

button{
  position: relative;
  padding: 5px;
  margin: 5px;
}
.buttonDiv{
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

img{
  border: 5px solid wheat;
}

ol{
  width: 50% ;
}

.thing-container {
  border: 1px solid #F00;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
}

.thing-container img {
  width: 80%;
  height: auto;
}
.thing-container .thing-footer {
  display: flex;
  justify-content: flex-end;
}
