.inputs{
  float: right;
  display: inline;
}

ul {
  list-style-type: none;
  display:block;
}

li{
  display: inline;
  padding: 35px;
}

button{
  position: relative;
  padding: 5px;
  margin: 5px;
}
