.inputs{
  /* float: right; */
  display: inline;
}

ul {
  margin: auto;
  width: 45%;
  list-style-type: none;
  /* display:inline-block; */
}

.item{
  display: inline;
  padding: 35px;
}

button{
  position: relative;
  padding: 5px;
  margin: 5px;
}
.buttonDiv{
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

img{
  border: 5px solid wheat;
}

ol{
  width: 50% ;
}
